// node_modules 
@import "node_modules/normalize.css/normalize";
@import "variables";
@import "base";
@import "fonts.scss";
@import "components/index.scss";
@import "sections/index/index.scss";

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Montserrat', Helvetica, sans-serif;
}

[v-cloak] {
  display: none;
}

.header,
.footer,
.promo {
  text-align: center;
}

.promo {
  padding-bottom: 100px;
}

.app {
  text-align: center;
  padding-bottom: 30px;
}

.promo__img {
  max-width: 250px;
  margin: 0 auto;
}