<footer class="footer" id="footer">
  <div class="container footer__container">
      <ul type="none" class="footer__ul">
          <li><a href=""><img src="assets/img/main/footer/footer__logo.svg" alt=""></a></li>
          <li>
              <p>Все права защищены</p>
          </li>
      </ul>
      <ul type="none" class="footer__ul">
          <li>Каталог</li>
          <li><a href="">Постельное белье</a></li>
          <li><a href="">Покрывало 2 в 1</a></li>
          <li><a href="">Декор для кроватей</a></li>
          <li><a href="">Спальные принадлежности</a></li>
          <li><a href="">Конструктор GO SLEEP</a></li>
      </ul>
      <ul type="none" class="footer__ul">
          <li>Покупателям</li>
          <li><a href="">Оформление заказа</a></li>
          <li><a href="">Таблица размеров</a></li>
          <li><a href="">Доставка и оплата</a></li>
          <li><a href="">Обмен и возрат</a></li>
      </ul>
      <ul type="none" class="footer__ul">
          <li>GO SLEEP</li>
          <li><a href="">О бренде</a></li>
          <li><a href="">Блог</a></li>
          <li><a href="">Статьи</a></li>
          <li>
              <a class="footer__ul__link" href=""><img src="/assets/img/main/footer/footer__icon__instagram.svg" alt=""></a>
              <a class="footer__ul__link" href=""><img src="/assets/img/main/footer/footer__icon__whatsapp.svg" alt=""></a>
              <a class="footer__ul__link" href=""><img src="/assets/img/main/footer/footer__icon__vk.svg" alt=""></a>
          </li>
      </ul>
  </div>
</footer>